version: 2.1

orbs:
  architect: giantswarm/architect@dev:update-integration-test

workflows:
  build:
    jobs:
      - architect/go-build:
          name: go-build
          binary: app-exporter
          filters:
            tags:
              only: /^v.*/

      - architect/integration-test:
          name: "basic-integration-test"
          install-app-platform: true
          test-dir: "integration/test/metrics"
          filters:
            # Do not trigger the job on merge to master.
            branches:
              ignore:
                - master
          requires:
            - push-app-exporter-to-control-plane-catalog

      - architect/integration-test:
          name: "upgrade-integration-test"
          install-app-platform: true
          test-dir: "integration/test/upgrade"
          filters:
            # Do not trigger the job on merge to master.
            branches:
              ignore:
                - master
          requires:
            - push-app-exporter-to-control-plane-catalog

      - architect/push-to-docker:
          context: "architect"
          name: push-app-exporter-to-quay
          image: "quay.io/giantswarm/app-exporter"
          username_envar: "QUAY_USERNAME"
          password_envar: "QUAY_PASSWORD"
          requires:
            - go-build
          # Needed to trigger job also on git tag.
          filters:
            tags:
              only: /^v.*/

      - architect/push-to-docker:
          context: "architect"
          name: push-app-exporter-to-aliyun
          image: "registry-intl.cn-shanghai.aliyuncs.com/giantswarm/app-exporter"
          username_envar: "ALIYUN_USERNAME"
          password_envar: "ALIYUN_PASSWORD"
          requires:
            - go-build
          # Needed to trigger job also on git tag.
          filters:
            tags:
              only: /^v.*/


      - architect/push-to-app-catalog:
          context: "architect"
          name: push-app-exporter-to-control-plane-catalog
          app_catalog: "control-plane-catalog"
          app_catalog_test: "control-plane-test-catalog"
          chart: "app-exporter"
          requires:
            - push-app-exporter-to-quay
          # Needed to trigger job also on git tag.
          filters:
            tags:
              only: /^v.*/
              
      - architect/push-to-app-collection:
          context: architect
          name: push-app-exporter-to-aws-app-collection
          app_name: "app-exporter"
          app_collection_repo: "aws-app-collection"
          requires:
            - push-app-exporter-to-aliyun
            - push-app-exporter-to-control-plane-catalog
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/

      - architect/push-to-app-collection:
          context: architect
          name: push-app-exporter-to-azure-app-collection
          app_name: "app-exporter"
          app_collection_repo: "azure-app-collection"
          requires:
            - push-app-exporter-to-control-plane-catalog
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/

      - architect/push-to-app-collection:
          context: architect
          name: push-app-exporter-to-kvm-app-collection
          app_name: "app-exporter"
          app_collection_repo: "kvm-app-collection"
          requires:
            - push-app-exporter-to-control-plane-catalog
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/
